.game-field {
    height: 900px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-line {
    width: 900px;
    height: 2px;
    background: #F5F5F5;
}

.opponent-cards {
    margin-bottom: 10px;
    display: flex;
    height: 240px;
    width: 100%;
    justify-content: center;
}

.player-cards {
    margin-top: 10px;
    display: flex;
    height: 240px;
    width: 100%;
    justify-content: center;
}

.place-card, .end-turn {
    width: 200px;
    height: 60px;
    border: 1px dotted black;
    position: absolute;
    top: 55%;
    left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

.end-turn{
    top: 45%;
}

.place-card:hover, .end-turn:hover {
    background-color:lightgrey;
}