.cards-opponent {
    height: 320px;
    display: flex;
    justify-content: center;
    width: 105%;
    margin-top: -80px;
}

.cards-player{
    height: 320px;
    display: flex;
    justify-content: center;
    width: 105%;
    margin-top: auto;
    margin-bottom: -80px;
}

.cards-opponent:not(:last-child), .cards-player:not(:last-child) {
    margin-right: 40px;
}