@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.form-content {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-family: 'Inter', sans-serif;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 100%;
    border: none;
}

input[type='submit'] {
    padding: 1em;
    border-radius: 2em;
    background: #007BFF;
    color: #FFFFFF;
}

input:not([type='submit']) {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

.reset-link {
    color: #333333;
    align-self: flex-end;
}

.register-link {
    color: #007BFF;
}