@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: .5em;
}

.form-content {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 100%;
    border: none;
    font-size: 1em;
}

input:focus {
    outline: none;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #F5F5F5;
}

input[type='submit'] {
    padding: .4em .5em;
    border-radius: .75em;
    background: #007BFF;
    color: #FFFFFF;
    margin: 1.5em 0;
    font-size: 1.5em;
}

input:not([type='submit']) {
    border-bottom: 1px solid;
    margin-bottom: 1em;
    background: none;
    padding: .5em 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #007BFF;
}

.reset-link {
    color: #333333;
    align-self: flex-end;
}

.reset-link:hover {
    color: #000000;
}

.login-link-wrapper {
    align-self: center;
    padding-top: 2em;
}

.register-link {
    color: #007BFF;
}

.error-message {
    position: relative;
    top: -0.75em;
    color: crimson;
    transform: translateY(-20%);
    animation: flow 1s forwards;
}
  
@keyframes flow {
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}